# MCP
## DomRiaMCP
MCP_DOM_RIA_HOST='127.0.0.1'
MCP_DOM_RIA_PORT=8052

## MongoCacheMCP
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=test
MONGO_COLLECTION_NAME=test

CACHE_TTL_SECONDS=604800

MCP_MONGO_CACHE_HOST='127.0.0.1'
MCP_MONGO_CACHE_PORT=8051

## MongoStoreMCP
MCP_MONGO_STORE_HOST="127.0.0.1"
MCP_MONGO_STORE_PORT=8053

## ObjectMoveMCP
MCP_OBJECT_MOVE_HOST=127.0.0.1
MCP_OBJECT_MOVE_PORT=8054

## ScreenshotMCP
SCREENSHOT_MAX_ATTEMPTS=3
SCREENSHOT_TIMEOUT_MS=30000

MCP_SCREENSHOT_HOST=127.0.0.1
MCP_SCREENSHOT_PORT=8050



# S3
S3_BUCKET=bucket
S3_ENDPOINT=localhost
S3_ACCESS_KEY=admin
S3_SECRET_KEY=admin
S3_PREFIX=test/
S3_REGION=eu-central-1
S3_SECURE=true
S3_VERIFY_SSL=true
S3_BROWSER_BASE_URL=https://localhost/browser/BUCKET/test/


# CERT
CA_CERT_PATH=/certs/rootca-sha256.pem



# LLM
OPENAI_API_KEY=sk-**********************
OPENAI_API_BASE=https://localhost/api
OPENAI_LM_MODEL=gpt-5.2



# AGENT
##ProofAgent
SCREENSHOT_MCP_URL=http://127.0.0.1:8050/mcp

PROOF_AGENT_A2A_HOST=127.0.0.1
PROOF_AGENT_A2A_PORT=9103

## ResearchAgent
DOMRIA_MCP_URL=http://127.0.0.1:8052/mcp

RESEARCH_AGENT_A2A_HOST=127.0.0.1
RESEARCH_AGENT_A2A_PORT=9101

## ValidatorAgent
MONGO_MCP_URL=http://127.0.0.1:8051/mcp
# DOMRIA_MCP_URL=http://127.0.0.1:8052/mcp

VALIDATOR_AGENT_A2A_HOST=127.0.0.1
VALIDATOR_AGENT_A2A_PORT=9102

## SupervisorAgent
MONGO_STORE_MCP_URL=http://127.0.0.1:8053/mcp
# SCREENSHOT_MCP_URL=http://127.0.0.1:8050/mcp
OBJECT_MOVE_MCP_URL=http://127.0.0.1:8054/mcp

RESEARCH_A2A_URL=http://127.0.0.1:9101
VALIDATOR_A2A_URL=http://127.0.0.1:9102
PROOF_A2A_URL=http://127.0.0.1:9103

SUPERVISOR_STORE_BATCH_SIZE=100
SUPERVISOR_SUBAGENT_MAX_CONCURENCY=3