# S3
S3_BUCKET=bucket
S3_ENDPOINT=localhost
S3_ACCESS_KEY=admin
S3_SECRET_KEY=admin
S3_PREFIX=test/
S3_REGION=eu-central-1
S3_SECURE=true
S3_VERIFY_SSL=true
S3_BROWSER_BASE_URL=https://localhost/browser/BUCKET/test/

# CERT
CA_CERT_PATH=/certs/rootca-sha256.pem

# APP
SCREENSHOT_MAX_ATTEMPTS=3
SCREENSHOT_TIMEOUT_MS=30000

# MCP
MCP_SCREENSHOT_HOST=127.0.0.1
MCP_SCREENSHOT_PORT=8050